page-red-envelope {
    p {
        line-height: 29px;
        &.title {
            line-height: 14px;
            margin-top: 7px;
            text-align: center;
            color: #222;
        }
        &.bottom {
            line-height: 14px;
            margin-top: 7px;
        }
    }
    h5 {
        font-size: 18px !important;
        font-weight: 500 !important;
        margin-top: 0;
        margin-bottom: 3px;
    }
    ion-list {
        background-color: #fff;
    }
    .scroll-content{
      background: url('../../assets/images/sentbg.png') no-repeat left top;
      background-size: contain;
    }
    .redEnvelope {
        width: 80%;
    }
    .content-ios {
        background-color: #f4ba3c;
    }
    .filler{
      height: 18.8rem;
    }
}
