page-detail {
//   ion-content{
//  background-color: #b72e3b !important;
//   }
.radius{
border-radius:50px;
border: 1px solid #000;
}
ion-list{
  margin-bottom: 0px !important;
}
.fontSize{
font-size: 12px;
}
.qiang{height: 3.8em;}

}
