<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>分享详情</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareWechat(detail.max_amount,detail.site_id,detail.icon_url)">
        <ion-icon name="share-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row justify-content-around margin class="radius">
        <ion-col col-2 align-self-center>
          <img src={{detail.icon_url}} width="50px">
        </ion-col>
        <ion-col col-7>
          <section>
            <h5 no-margin>{{detail.title}}第{{detail.issue_no?detail.issue_no:'不定'}}期</h5>
            <p *ngIf="!detail.scratch_number"><span color="danger">{{detail.bet_count}}</span>倍<span color="danger">{{detail.bet_number}}</span>注<span color="danger">{{detail.bet_count*detail.bet_number*2}}</span>元</p>
            <p *ngIf="detail.scratch_number"><span color="danger">{{detail.scratch_number}}</span>张<span color="danger">{{detail.scratch_face_value}}</span>元</p>
            <p class="bottom">{{detail.attend_info_list?detail.attend_info_list.length:0}}/{{detail.need_person}}人　　{{detail.envelope_create_time}}</p>
          </section>
        </ion-col>
        <ion-col col-3 class="lotteryStatus">
          <p text-center color="white">待开奖</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <p text-center *ngIf="detail.purchase_cut_off_time" >截止时间：<span color="white">{{detail.purchase_cut_off_time}}</span></p>
  <p *ngIf="detail.receive_status" text-center class="initiator"><span color="white">发起人：{{detail.sponsor}}</span></p>
  <section id="redPackge" *ngIf="!detail.receive_status">
    <p text-center class="initiator"><span color="danger">{{detail.sponsor}}</span>正在发起抢红包</p>
    <div class="filler">
    </div>
    <div text-center>
      <button class="qiang" large ion-button round color="danger" (click)="presentActionSheet()"><span color="white">抢</span></button>
    </div>
  </section>
  <ion-grid class="lotteryball">
    <ion-row *ngFor="let item of detail.lottery_order_list">
      <ion-col col-1>
      </ion-col>
      <ion-col col-10 text-center class="lotterybg">
        {{item.bet_item}}
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-3 text-right>
        ——
      </ion-col>
      <ion-col col-6 text-center>
        已有{{detail.attend_info_list?detail.attend_info_list.length:0}}/{{detail.need_person}}人抢到红包
      </ion-col>
      <ion-col col-3 text-left>
        ——
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="fontSize">
    <ion-row>
      <ion-col text-center>
        参与者
      </ion-col>
      <ion-col text-center>
        比例
      </ion-col>
      <ion-col text-center>
        可中奖金
      </ion-col>
      <ion-col text-center>
        领取时间
      </ion-col>
    </ion-row>
    <ion-row style="color:aliceblue" *ngFor="let item of detail.attend_info_list">
      <ion-col text-center>
        {{item.user_name}}
      </ion-col>
      <ion-col text-center>
        {{item.envelope_ratio}}
      </ion-col>
      <ion-col text-center>
        {{item.can_winning_amount}}
      </ion-col>
      <ion-col text-center>
        {{item.receive_time}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10><button ion-button block color="danger" (click)="presentConfirm()">更多红包这里抢</button></ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  <!--<button (click)="test()">测试用例</button>-->
</ion-content>
